/**
* @name Distinction
* @author baecoom
* @version 0.1
* @description distinct boxes for all your distinct discord needs (very distinct)
* @source https://github.com/Baeconboy/Distinction
*/
:root{
	--background: url("https://i.pinimg.com/originals/ef/7f/b1/ef7fb1b37078b6a2aef8e40710446bfa.jpg");
	--background-move-vertical: 0%;
	--background-blur: 5px;

	--default-border-radius: 15px;
	--default-box-margins: 2px;
	--primary-box-color: rgba(0, 20, 30, 0.8);
	--secondary-box-color: rgba(20, 20, 20, 0.2);

	--primary-button-color: rgba(20, 20, 20, .6);
	--secondary-button-color: rgba(70, 70, 70, 1);
}

@keyframes backBlur {
	to {
		backdrop-filter: blur(var(--background-blur));
	}
}

@keyframes typingAnim {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

@keyframes fadeInDMs {
	from {
		left: 200px;
	}
	to {
		left: 0px;
	}
}
@keyframes slideBottom {
	from {
		height:0px;
	}
}

 /*background image*/
.bg_d4b6c5{
	background: var(--background) !important;
	background-size: cover !important;
	background-position-y: var(--background-move-vertical) !important;
}

/*transparent backgrounds*/
.notice_c02a8d,
.chat_a7d72e,
.chatContent_a7d72e,
.container_bf550a,
.container_ee69e0,
.container_c2739c,
.container_b2ca13,
.container_cbd271,
.inset_c0f6a6,
.members_cbd271,
.panels_a4d4d9,
.scroller_c47fa9,
.section_cd82a7,
.selected_f6f816,
.selected_f5eb4b,
.sidebar_a4d4d9,
.themed_e44302,
.themedBackground_d0696b,
.userPanelInnerThemed_c69a7b,
.userProfileOuterUnthemed_c69a7b,
.wrapper_fea3ef,
.panel_bf1a22,
.container_adcaac,
.attachedBars_d0696b,
.layer_d4b6c5,
.contentRegion_c25c6d,
.contentRegionScroller_c25c6d,
.standardSidebarView_c25c6d,
.sidebarRegionScroller_c25c6d,
.folder_bc7085,
.container_d1c246,
.wrapper_ef319f,
.replyBar_b11c5e,
.wrapper_d880dc
{
	background: transparent !important;
}

/*make things invisible*/
.form_a7d72e:before,
.children_e44302:after,
.content_a7d72e:before,
.tabBody_c2739c:before,
.channel_c91bad:has(.link_c91bad[href="/library"]),
.channel_c91bad:has(.link_c91bad[href="/store"]),
.channel_c91bad:has(.link_c91bad[href="/shop"]),
.button_dd4f85[aria-label="Send a gift"]

{
	display:none;
}

/*Boxes*/
.notice_c02a8d,
.userPanelInner_c69a7b,
.channelTextArea_a7d72e,
.container_e44302,
.container_ee69e0,
.members_cbd271,
.messagesWrapper_e2e187,
.nowPlayingColumn_c2739c,
.peopleColumn_c2739c,
.privateChannels_f0963d,
.profilePanel_b433b4,
.searchBarComponent_f0963d,
.tree_fea3ef,
.typingDots_d7ebeb,
.wrapper_faf5ab,
.panels_a4d4d9,
.container_a6d69a,
.side_a0,
.contentColumn_c25c6d,
.callContainer_d880dc
{
	backdrop-filter: blur(var(--background-blur));
    background-color: var(--primary-box-color) !important;
	border-radius: var(--default-border-radius) !important;
	margin: var(--default-box-margins) !important;
}
/*Special case box: Text box in chat*/
.form_a7d72e{
	margin-top: 0px;
	padding:0px;
	margin-bottom: calc(var(--default-box-margins)*-2);
}
.bannerSVGWrapper_b32cc2{
	min-width:100% !important;
	min-height:100% !important;
}
/*Fix size of text box*/
.channelTextArea_a7d72e, .wrapper_faf5ab, {
	width: 100%;
	height:100%;
	padding:0px;
}
.subtitleContainer_a7d72e{
	margin-right: calc(var(--default-box-margins)*2) !important;
}

.content_a7d72e{
	margin-bottom: calc(var(--default-box-margins)*2);
}

/*Make little profile box on the bottom and the "follow channel" box the same height as text box for aesthetics*/
.wrapper_faf5ab{
	height: 47px;
}

.container_b2ca13{
	height: auto;
	display: flex;
	flex-direction: column-reverse;
}

.button_f67531, .closeButton_df5532, .button_adcaac, .button_ef319f, .iconWrapper_e44302, .button_c02a8d{
	appearance: auto;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-radius:5px !important;
	margin: 5px !important;
	background: var(--primary-button-color) !important;
	border-bottom: 5px solid var(--secondary-button-color) !important;
	transition: border-bottom .2s !important;
	min-width: 32px;
	min-height:32px;
}
.button_f67531:active, .closeButton_df5532:active, .button_f67531[aria-checked="true"], .button_adcaac:active, .button_ef319f:active, .iconWrapper_e44302:active, .button_c02a8d:active{
	border-bottom: 1px solid var(--secondary-button-color) !important;
}

/*make profile banner rounded*/
.banner_c3e427{
	border-radius:var(--default-border-radius);
}

/*make server folders actually fit the server icons*/
.expandedFolderBackground_bc7085{
	width: 56px;
	left: 8px;
	background-color: var(--primary-button-color);
}

/*make members list take up entire sidebar*/
.membersWrap_cbd271{
	height:100%;
}

/*make offline server members not transparent*/
.offline_a31c43{
	opacity: 1;
}

/*server members are secondary box*/
.member_cbd271, .member_a31c43{
	background: var(--secondary-box-color);
	margin-bottom: var(--default-box-margins);
}


/*dms get the secondary box color*/
.channel_c91bad, .wrapper_cd82a7{
	transition: margin-left .4s !important;
	margin-bottom: var(--default-box-margins);
	background: var(--secondary-box-color);
}

/*selected dms get shifted to the side*/
.channel_c91bad:has(.selected_f5eb4b){
	margin-left:20px;
}

/*fixes for the "follow channel" box*/
.wrapper_faf5ab{
	margin-left: var(--default-box-margins) !important;
	margin-bottom:0px !important;
	top:1px;
}

/*move typing animation up*/
.typing_d7ebeb{
	top: -30px;
	left: 5px;
	animation-name: typingAnim;
	animation-duration: 0.4s;
}

/*give typing animation a bit of padding on the right*/
.typingDots_d7ebeb{
	padding-right:10px;
}
/*remove border of weird activity box*/
.scroller_bf550a, .wrapper_cd82a7{
	border:none;
}

.scroller_e2e187{
	border-radius: var(--default-border-radius);
}

.searchBar_f0963d, .searchBar_e0840f{
	background: var(--secondary-box-color) !important;
}

.newMessagesBar_cf58b5{
	width:100%;
	left:0px;
	border-radius: var(--default-border-radius);
}

.increasedActivityMainCard_e53744{
	border-radius: var(--default-border-radius);
	background-color: var(--secondary-box-color);
	
}

.channel_c91bad{
	animation-name: fadeInDMs;
	animation-duration: .4s;
}

.header_a0 {
	margin-top:10px;
}

.backdrop__1a911{
	animation-name: backBlur;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}

.sidebar_a4d4d9{
	min-width: ;
}

.wrapper_ef319f{
	height:auto;
	box-shadow: none !important;
}

.avatarWrapper_b2ca13{
	max-width: 100%;
}

.container_cebd1c{
	border-radius:5px;
}

.icon_e44302{
	width:70%;
	margin: auto;
	margin-top: 2px;
}