/**
* @name Distinction
* @author baecoom
* @version 2.0
* @description distinct boxes for all your distinct discord needs (very distinct) | Automatic Updates
* @source https://github.com/Baeconboy/Distinction
*/

@import url("https://raw.githubusercontent.com/Baeconboy/Distinction/main/distinction.css");

:root{
    
/* Background can be a simple color or an image from a direct link. 

 Color Background Example:*/
--background: #0093FA;

 Image Background example:
--background: url('https://i.pinimg.com/originals/ef/7f/b1/ef7fb1b37078b6a2aef8e40710446bfa.jpg'); 

/* Control the blurriness of your background image behind the boxes.
 default: 5px*/
--background-blur: 5px;

/* change this in case your background image has a weird aspect ratio and gets cut off
 Default: 0%*/
--background-move-vertical: 0%;

/* This is the discord icon that leads to the friends list.*/
--discord-icon: url('https://discord.com/assets/3145bdb4ad97e9e47055.webp');

/* controls roundness of borders
 going above a certain value will make the boxes so round that content may get cut off
 Default: 15px*/
--default-border-radius: 15px;

/* distance between the boxes (gets applied all 4 sides of the box, so the distance is actually this amount times two)
 Default: 2px;*/
--default-box-margins: 2px;

/* Control the color of buttons and similar things
 The following colors are in the RGBA format, the numbers represent red, green, blue (0-255 respectively), and alpha (0.0 - 1.0)*/
--primary-box-color: rgba(0, 20, 30, 0.8);
--secondary-box-color: rgba(20, 20, 20, 0.2);

--hovered-button-color: rgba(30, 30, 30, .6);
--primary-button-color: rgba(20, 20, 20, .6);
--secondary-button-color: rgba(70, 70, 70, 1.0);

/* Accent colors:*/
  --accent-one: rgba(0, 147, 250, 1);
  --accent-one-darker: rgba(0, 100, 200, 1);
}